<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>מסעדת זית זיתון</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <div align="center">
        <h1>תפריט חגי תשרי</h1>
        <p>יש להזמין עד 48 שעות לפני שעת המשלוח או האיסוף.<br>
        מעל 200 ש"ח הזמנה, משלוח חינם באזור חיפה</p>
    </div>
    <form action="/sumbit" method="POST">
        <div align="center">
            <h1>מנות ראשונות / סלטים</h1>
            <h2>45 ש"ח - מחיר למגש לארבעה סועדים</h2>
            <p>
                <lable>
                    <input type="checkbox" name="first" value="Option 1">
                    סלט ארטישוק פטריות טריים, שרי ופסטו
                </lable><br>
                <lable>
                    <input type="checkbox" name="first" value="Option 1">
                    סלט גרגיר אבוקדו, רימונים ותפוח עץ
                </lable><br>
                <lable>
                    <input type="checkbox" name="first" value="Option 1">
                    סלט סלרי עם מנגו וחמצויות
                </lable><br>
                <lable>
                    <input type="checkbox" name="first" value="Option 1">
                    טאבולה ערק ורימונים
                </lable><br>
                <lable>
                    <input type="checkbox" name="first" value="Option 1">
                    יווני זיתים שחורים וגבינה ברנזה
                </lable><br>
                <lable>
                    <input type="checkbox" name="first" value="Option 1">
                    שרי צבעים עם חריף אגוזים
                </lable><br>
                <lable>
                    <input type="checkbox" name="first" value="Option 1">
                    סלט נבטים ותפוזים
                </lable><br>
                <lable>
                    <input type="checkbox" name="first" value="Option 1">
                    סלט פלחיה עם צנוברים
                </lable><br>
                <lable>
                    <input type="checkbox" name="first" value="Option 1">
                    סלט לבבות חסה עם פרמזן ורוטב ויניגרט
                </lable>
            </p>
        </div>
        <div align="center">
            <h1>מנות ביניים</h1>
            <input type="checkbox" name="center" value="Option 1">
            <lable>
                מיקס בצקים - כל יחידה 8 ש"ח
            </lable><br>
            <lable>
                <input type="checkbox" name="center" value="Option 1">
                קרפציו פילה עגל פרמיזן צנוברים חומץ בלסמי ושמן זית, 65 ש"ח
            </lable><br>
            <lable>
                <input type="checkbox" name="center" value="Option 1">
                דפי סינטה עגלה במילוי גאודה מעושנת ובזיליקום ברוטב פטריות או שמנת או יין, 79 שקל
            </lable><br>
            <lable>
                <input type="checkbox" name="center" value="Option 1">
                קובה נייה מסורתית, 85 ש"ח
            </lable><br>
            <lable>
                <input type="checkbox" name="center" value="Option 1">
                מיקס פירות ים 95, ש"ח
            </lable><br>
            <lable>
                <input type="checkbox" name="center" value="Option 1">
                סלסיסו הבית ברוטב שום לימון, 55 ש"ח
            </lable><br>
            <lable>
                <input type="checkbox" name="center" value="Option 1">
                לשון עגל בתנור, 65 ש"ח
            </lable><br>
            <lable>
                <input type="checkbox" name="center" value="Option 1">
                פטריות במילוי גבינה ורוטב שמנת, 65 ש"ח
            </lable><br>
            <lable>
                <input type="checkbox" name="center" value="Option 1">
                קרפצו חציל  עם גבינת פטה, 45 ש"ח
            </lable><br>
            <lable>
                <input type="checkbox" name="center" value="Option 1">
                רצועות פילה או עוף שום לימון, 65 ש"ח
            </lable><br>
            <lable>
                <input type="checkbox" name="center" value="Option 1">
                רול סאג במילוי מסחן עוף, יחידה 10 ש"ח
            </lable><br>
            <lable>
                <input type="checkbox" name="center" value="Option 1">
                טורטיה קבב, 60 ש"ח
            </lable><br>
            <lable>
                <input type="checkbox" name="center" value="Option 1">
                טרטר עגל, 75 ש"ח
            </lable>
        </div>
        <div align="center">
            <h1>מנות עיקריות</h1>
            <h2>מחיר לפי מספר סועדים ומשקל</h2>
            <p>
                <lable>
                    <input type="checkbox" name="main" value="Option 1">
                    כתף כבש במילוי פירות יבשים או במילוי אורז צנוברים על מצע  פריקה או אורז וירקות בגריל
                </lable><br>
                <lable>
                    <input type="checkbox" name="main" value="Option 1">
                    פילה עגל בתנור במילוי רימונים  ערמונים ארטישוק, רוטבים לבחירה: יין ציר פטריות
                </lable><br>
                <lable>
                    <input type="checkbox" name="main" value="Option 1">
                    עוף שלם בלי עצמות במילוי אורז ובשר
                </lable><br>
                <lable>
                    <input type="checkbox" name="main" value="Option 1">
                    צוואר כבש ממולא
                </lable><br>
                <lable>
                    <input type="checkbox" name="main" value="Option 1">
                    פילה עגל ברוטב שמנת פטריות או יין
                </lable><br>
                <lable>
                    <input type="checkbox" name="main" value="Option 1">
                    אוסובוקו כבש ברוטב יין
                </lable><br>
                <lable>
                    <input type="checkbox" name="main" value="Option 1">
                    מנסף כבש קלאסי
                </lable><br>
                <lable>
                    <input type="checkbox" name="main" value="Option 1">
                    דג סלמון שלם בתנור
                </lable><br>
                <lable>
                    <input type="checkbox" name="main" value="Option 1">
                    סלט לבבות חסה עם פרמזן ורוטב ויניגרט
                </lable>
            </p>
        </div>
    </form>
</body>
</html>